
  <div class="container">
    <mat-card class="card">
      <mat-card-header class="mat-card-header">
        <div class="header-box">
          <mat-card-title class="title">Blind Date with a Book</mat-card-title>
        </div>

        <div class="filter-section">

          <mat-divider class="divider"></mat-divider>
          <div class="filter-text">
            <span class="spacer"></span> <span>Filter</span> <mat-icon (click)="onExpandFilter()">expand_more</mat-icon>
          </div>
          <mat-divider class="divider"></mat-divider>

          <div class="filter-menue">

          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-header>

      <mat-card-content>
        <!-- book image -->
      </mat-card-content>

      <mat-card-actions>
        <button mat-mini-fab color="secondary" (click)="onExpandFilter()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-raised-button>read more</button>
        <button mat-mini-fab color="secondary" (click)="onExpandFilter()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>


